* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100%;
    background-color: #161716;
    font-family: "Commissioner", serif;
    font-weight: 500;
    font-style: normal;
    color: #E2E2E2; 

    background-image: 
        linear-gradient(rgba(96, 96, 96, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(96, 96, 96, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;

    /* box-shadow: inset 0 0 1000px 10px #000; */
}

header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.Web-Name {
    font-size: 25px;
    letter-spacing: 4px;
    color: #E2E2E2;
}

.Btn{
    display: flex;
    gap: 8px;
}

button {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #262626;
    color: #E2E2E2;
    border: 1.7px solid #606060;
    border-radius: 7px;
    align-items: center;
    padding: 8px 15px;
    cursor: pointer;
}

.container{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    margin-top: 5px;
}

.counter{
    width: auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.digit{
    height: 85px;
    width: 55px;
    background-color: #262626;
    border: 2px solid #606060;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 65px;
    font-family: "Share Tech Mono", serif;
    font-weight: 400;
    color: #804DE2;
}

.system-msg{
    width: 750px;
    min-height: 130px;
    background-color: #262626;
    border: 2px solid #606060;
    border-radius: 8px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.system-msg-header{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #606060;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.system{
    display: flex;
    align-items: center;
    gap:4px;
}

.system svg {
    width: 32px;
    height: 32px;
    color: #804DE2;
}

.level-number {
    color: #804DE2;
    font-weight: 700;
}

.msg{
    padding: 5px 10px;
    height: auto;

    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
}

.Modi-container{
    max-width: 750px;
    height: auto;
    background-color: #262626;
    flex-direction: column;
    
    border: 2px solid #606060;
    border-radius: 18px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
    margin-top: -10px;

}

.Modi-container-header{
    height: 32px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid #606060;

    gap: 120px;

    padding: 5px 10px;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.Modi-container-header span{
    color: #804DE2;
    font-weight: 700;
}

.Modi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding: 0 20px;
    padding-bottom: 12px;
}

.modifiers{
    border: 2px solid #606060;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 10px;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}


.click-btn{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.click-btn button{
    height: auto;
    width: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #606060;
    border-radius: 16px;

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;

    position: relative;
    padding: 7px 27px;
}

.click-btn svg{
    height: 80px;
    width: 80px;
}

.click-btn span{
    position: absolute;
    top: 40%;
}



.leader-board-container{
    width: auto;
    height: auto;
    background-color: #262626;
    border: 2px solid #606060;
    border-radius: 16px;

    flex-direction: column;
}

.leader-board-header{
    height: 32px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 4px;

    border-bottom: 2px solid #606060;


    padding: 5px 10px;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
}

.leader-board-header svg {
    width: 32px;
    height: 32px;
    color: #804DE2;
}

.leader-board-content{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 10px;
}

.top-players{
    /* background-color: #606060; */
    border: 2px solid #606060;
    border-radius: 8px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;

    padding: 8px 10px;


    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.top-players span{
    color: #804DE2;
    font-weight: 700;
}

.playerName{
    display: flex;
    align-items: center;
    gap: 4px;
}

.playerName svg {
    width: 24px;
    height: 24px;
}